body {
  margin: 20px;
  /*
  Challenge:
  Find a web safe font you like, and add it 
  to your card.
  */
  font-family: Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
  border-radius: 30%;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #722e9a;
  color: #fcc602;
  border-bottom: 6px solid #fe6a86;
  border-radius: 10%;
  box-shadow: 10px 20px 15px black;

  /*
  Challenge:
  Find a color palette you like on Coolors.co
  and use it in your business card.
   */
}
.card:hover {
  background: #70960c;
  color: #fafa00;
  border-bottom: #b5c806;
  cursor: pointer;
}
.card:active {
  background-color: #722e9a;
  color: antiquewhite;
  border-bottom: 10px solid#fe6a86;
}
.main-title {
  text-transform: uppercase;
}

.border-blue {
  border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
